<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/Users/narumi/.cargo/bin:/Users/narumi/.nvm/versions/node/v20.11.1/bin:/Users/narumi/.local/bin:/opt/homebrew/bin:/usr/local/bin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
    <key>Label</key>
    <string>dev.narumi.bot</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/narumi/.cargo/bin/uv</string>
      <string>run</string>
      <string>bot</string>
    </array>
    <key>KeepAlive</key>
    <true />
    <key>RunAtLoad</key>
    <true />
    <key>UserName</key>
    <string>narumi</string>
    <key>WorkingDirectory</key>
    <string>/Users/narumi/services/bot</string>
    <key>StandardOutPath</key>
    <string>/Users/narumi/services/bot/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/narumi/services/bot/bot.log</string>
  </dict>
</plist>
