[tool.poetry]
name = "bot"
version = "0.1.0"
description = ""
authors = ["narumi <toucans-cutouts0f@icloud.com>"]


[tool.poetry.dependencies]
python = "^3.11"
beautifulsoup4 = "^4.12.3"
langchain-community = "^0.3.1"
langchain-google-genai = "^2.0.0"
langchain-openai = "^0.2.2"
loguru = "^0.7.2"
lxml = "^5.3.0"
openai-whisper = "^20240930"
pypdf = "^5.0.1"
python-dotenv = "^1.0.1"
python-telegram-bot = "^21.6"
telegraph = "^2.2.0"
yfinance = "^0.2.43"
youtube-transcript-api = "^0.6.2"
yt-dlp = "^2024.9.27"

[tool.poetry.group.dev.dependencies]
mypy = "^1.11.2"
pytest = "^8.3.1"
pytest-cov = "^5.0.0"
ruff = "^0.6.8"
toml = "^0.10.2"
types-cachetools = "^5.5.0.20240820"
types-protobuf = "^5.28.0.20240924"
types-pymysql = "^1.1.0.20240524"
types-pyopenssl = "^24.1.0.20240722"
types-pytz = "^2024.2.0.20241003"
types-pyyaml = "^6.0.12.20240917"
types-redis = "^4.6.0.20241004"
types-requests = "^2.32.0.20240914"
types-setuptools = "^75.1.0.20240917"
types-tabulate = "^0.9.0.20240106"

[tool.poetry.scripts]
bot = "bot.cli:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.ruff]
exclude = ["build"]
line-length = 120

[tool.ruff.lint]
select = [
    "B",   # flake8-bugbear
    "C",   # flake8-comprehensions
    "E",   # pycodestyle errors
    "F",   # pyflakes
    "I",   # isort
    "N",   # pep8-naming
    "SIM", # flake8-simplify
    "UP",  # pyupgrade
    "W",   # pycodestyle warnings
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["F401", "F403"]

[tool.ruff.lint.isort]
force-single-line = true

[tool.pytest.ini_options]
filterwarnings = ["ignore::DeprecationWarning"]

[tool.mypy]
ignore_missing_imports = true
